.about-me{
    padding-top: 114px;
    &__wrapper{
        display: grid;
        grid-template: repeat(2, 1fr) / 400px 570px;
        column-gap: 70px;
        row-gap: 40px;
    }
    &__photo{
        grid-row: 1/3;
        grid-column: 1;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__descr{
        width: 100%;
    }
    &__devider{
        margin: 0;
    }
    &__text{
        margin-top: 20px;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    &__skills{
        grid-row: 2;
        grid-column: 2 / 3;
        display: grid;
        grid-template: repeat(2, minmax(115px, auto)) / repeat(2, 260px);
        column-gap: 50px;
    }
    &__skill{
        display: grid;
        grid-template-columns: 36px 200px;
        column-gap: 24px;
    }
    .prev-circle{
        @include circle;
        width: 36px;
        span{
            display: block;
            font-size: 20px;
        }
    }
    &__skill-text{
        margin-top: 6px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
}