.contacts{
    padding: 120px 0 90px 0;
    &__wrapper{
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &__photo{
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__descr{
        .title.title_fz16{
            margin-left: 12px;
        }
        .devider{
            margin: 0;
            margin-top: 25;
        }
    }
    &__text{
        margin-top: 20px;
    }
    &__social{
        display: flex;
        margin-top: 20px;
    }
    &__link{
        margin-right: 25px;
        span{
            font-size: 30px;
        }
    }
    &__form{
        margin-top: 30px;
        display: grid;
        grid-template: 45px 130px 45px / repeat(2, 280px);
        justify-content: space-between;
        row-gap: 28.5px;
        label{
            display: block;
            position: absolute;
            top: -9.5px;
            height: 18px;
            padding: 0 8px;
            background-color: $bg-color;
            font-size: 12px;
            margin-bottom: 0;
            left: 12px;
        }
    }
    &__input{
        position: relative;
        input{
            background-color: $bg-color;
            padding: 0 20px;
            font-size: 12px;
            width: 100%;
            height: 100%;
        }
    }
    &__textarea{
        background-color: $bg-color;
        position: relative;
        grid-column: 1 / 3;
        textarea{
            background-color: $bg-color;
            padding: 20px;
            font-size: 12px;
            width: 100%;
            height: 100%;
            resize: none;
        }
    }
    &__triggers{
        grid-column: 1/3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-auto-rows: minmax(36px, auto);
    }
    &__policy{
        font-size: 12px;
        justify-self: center;
        align-self: center;
        display: flex;
        input{
            margin-right: 10px;
        }
    }
    &__btn{
        border: none;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
    }
    
                

}