@media (max-width: 1439px){
    .sidepanel{
        display: none;
    }
}
@media (max-width: 1200px){
    .container{
        max-width: 960px;
    }
    .about-me{
        &__wrapper{
            gap: 40px;
        }
        &__skills{
            column-gap: 20px;
        }
        &__skill{
            column-gap: 10px;
        }
    }
    .resume{
        &__wrapper{
            padding: 60px 0 0 0;
            grid-template-columns: repeat(2, 412px);
            column-gap: 136px;
        }
    }
    .skills{
        &__dial{
            grid-template: repeat(2, minmax(70px, auto)) / repeat(2, minmax(340px, auto));
            column-gap: 30px;
        }
    }
    .portfolio{
        &__wrapper{
            
            justify-content: space-around;
            row-gap: 35px;
            .horizontal, .vertical{
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts{
        &__wrapper{
            padding: 0;
            grid-template-columns: 400px 390px;
        }
        &__form{
            grid-template-rows: 45px 45px 130px 45px;
            grid-template-columns: 390px;
        }
        &__textarea{
            grid-column: 1;
        }
        &__btn{
            font-size: 12px;
            padding: 0px 14px;
        }
        &__input{
            grid-column: 1;
        }
        &__policy{
            padding-left: 40px;
        }
    }
}
@media (max-width: 992px){
    .container{
        max-width: 720px;
    }
    .about-me{
        &__skills{
            grid-template-columns: repeat(auto-fit, 260px);
            grid-auto-rows: minmax(115px, auto);
        }
        &__skill{
            grid-template-columns: 36px auto;
        }
    }    
    .resume{
        &__wrapper{
            padding: 60px 0 0 0;
            grid-template-columns: 580px;
        }
        &__item{
            height: 222px;
        }
    }
    .price{
        &__wrapper{
            margin-top: 30px;
            padding: 0;
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(45px, auto);
        }
    }
    .contacts{
        &__subtitle{
            font-size: 30px;
        }
        &__wrapper{
            padding: 0;
            grid-template-columns: 340px 340px;
        }
        &__form{
            grid-template-rows: 45px 45px 130px 45px;
            grid-template-columns: 340px;
        }
    }
    
}
@media (max-width: 768px){
    .container{
        max-width: 540px;
    }
    .title{
        &_fz48{ 
            font-size: 36px;
        }
    }
    .promo{
        &__title{
            width: 400px;
            line-height: 39px;
        }
    }
    .about-me{
        padding-top: 40px;
        &__wrapper{
            grid-template: 400px auto auto / 100%;
        }
        &__photo{
            grid-row: 1;
        }
        &__descr{
            margin-top: 40px;
        }
        &__skills{
            margin-top: 20px;
            grid-row: 3;
            grid-column: 1;
            display: grid;
            grid-template: repeat(auto-fit, minmax(115px, auto)) / repeat(2, 260px);
            column-gap: 30px;
        }
        &__skill{
            display: grid;
            grid-template-columns: 36px 200px;
            column-gap: 24px;
        }
    }
    .resume{
        padding-top: 40px;
        &__wrapper{
            grid-template-columns: 540px;
        }
    }
    .skills{
        padding-top: 40px;
        &__wrapper{
            grid-template: repeat(2, minmax(240px, auto)) / repeat(2, minmax(220px, auto));
        }
        &__dial{
            grid-template: repeat(2, minmax(70px, auto)) / repeat(1, minmax(340px, auto));
            column-gap: 30px;
        }
    }
    .portfolio{
        padding-top: 40px;
    }
    .price{
        padding-top: 40px;
        &__wrapper{
            margin-top: 5px;
            justify-content: center;
        }
    }
    .contacts{
        padding: 40px 0 20px 0;
        &__photo{
            display: none;
        }
        &__subtitle{
            font-size: 30px;
        }
        &__wrapper{
            padding: 0 20px;
            grid-template-columns: 500px;
        }
        &__form{
            grid-template-rows: 45px 45px 130px 45px;
            grid-template-columns: 500px;
        }
    }
}
@media (max-width: 576px){
    .container{
        max-width: 280px;
        
    }
    .title{
        font-size: 26px;
        &_fz48{ 
            font-size: 26px;
        }
        &_fz16{
            font-size: 16px;
        }
        &_fz14{
            font-size: 14px;
        }
    }
    .promo{
        &__title{
            width: 280px;
        }
        .hamburger{
            right: 20px;
        }
        &__btns{
            margin-top: 30px;
        }
    }
    .menu{
        &__block{
            width: 250px;
            padding-left: 20px;
        }
    }
    .about-me{
        padding-top: 40px;
        // &__wrapper{
        //     grid-template: 340px auto auto / 100%;
        // }
        &__skill{
            display: grid;
            grid-template-columns: 36px 200px;
            column-gap: 24px;
        }
    }
    .resume{
        &__wrapper{
            grid-template-columns: 280px;
        }
    }
    .skills{
        &__wrapper{
            grid-template: repeat(2, minmax(240px, auto)) / repeat(1, minmax(220px, auto));
        }
        &__dial{
            grid-template: repeat(2, minmax(70px, auto)) / repeat(1, minmax(280px, auto));
            grid-auto-rows: minmax(70px, auto);
            &-item{
                grid-template-columns: repeat(2, auto);
            }   
        }
    }
    .price{
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 280px);
            justify-content: center;
            grid-auto-rows: minmax(40px, auto);
            row-gap: 10px;
        }
    }
    .contacts{
        padding: 40px 0 20px 0;
        &__photo{
            display: none;
        }
        &__subtitle{
            font-size: 24px;
        }
        &__wrapper{
            padding: 0;
            grid-template-columns: 280px;
        }
        &__form{
            grid-template-rows: 45px 45px 130px minmax(110px, auto);
            grid-template-columns: 280px;
        }
        &__triggers{
            grid-template-columns: unset;
            row-gap: 20px;
        }
        &__policy{
            grid-row: 1;
            padding: 0;
            width: 180px;
        }
        &__btn{
            grid-row: 2;
        }
    }
}