.portfolio{
    padding-top: 120px;
    &__wrapper{
        margin-top: 60px;
        display: grid;
        grid-template:  repeat(auto-fit, 280px) / repeat(auto-fit, 280px);
        justify-content: space-between;
        gap: 5px;
        .vertical{
            grid-row: 1/3;
            grid-column: 4/5;
        }
        .horizontal{
            grid-row: 2/3;
            grid-column: 2/4;
        }
    }
    &__item{
        transition: 0.4s all;
        &:hover{
            transform: scale(1.05);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}