.promo {
    min-height: 100vh;
    position: relative;
    background-color: #949494;
    padding-top: 205px;
    &__title{
        width: 532px;
        margin: 0;
        margin-top: 9px;
    }
    &__subtitle{
        position: relative;
        z-index: 2;
        padding-left: 10px;
        @include before_circle;
    }
    &__btns{
        margin-top: 25px;
        width: 270px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__link{
        padding: 12px 25px;
        color: #000;
        font-weight: 700;
        text-decoration: none;
        transition: 0.3s all;
        &:hover{
            color: #000;
        }
    }
}